body {
  background-color: #ffecd1;
  margin-top: 70px; /* added margin-top to body */
}

nav {
  list-style-type: none;
  background-color: #FFECD1;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 10px;
  color: #2D3A3A;
  text-align: left;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  display: inline;
  padding: 20px;
}

li:hover {
  background-color: white;
}

a {
  text-decoration: none;
  color: #A1674A;
}
